production:
  adapter: postgresql
  socket: /var/run/postgreql
  database: libretpv_prod
  username: postgres

drupal_production:
  adapter: postgresql
  socket: /var/run/postgresql
  database: drupal_database
  username: postgres
